@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal {
        font-size: 16px;
        height: 500px;}
    
    header .container .logo {
            width: 30%;
            height: 30%;
            margin-right: 4%;
        }

    .filme-principal .titulo {
        font-size: 60px;
        font-family:QanelasExtraBold;
    }

    .filme-principal .descricao {
        width: 70%;
    }

    .botao2 {
        margin-top: 5px;
        width: 200px;
        height: 50px;
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}